<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add a new actor</h1>
        </div>
    </div>

    <form action="/create_actor">
        <div class="row">
            <div class="col-md-1">
                <label for="name">
                    Name
                </label>
            </div>
            <div class="col-md-11">
                <input id="name" type="text" name="the_name" size="75">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="dob">
                    Dob
                </label>
            </div>

            <div class="col-md-11">    
                <input id="dob" type="text" name="the_dob" size="75">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="bio">
                    Bio
                </label>
            </div>

            <div class="col-md-11">    
                <input id="bio" type="text" name="the_bio" size="75">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="image url">
                    Image url
                </label>
            </div>
            <div class="col-md-11">
                <input id="image url" type="text" name="the_image_url" size="75">
            </div>
        </div>
    
      <button>
        Create actor
      </button>
    </form>
</div>
