<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add a new movie</h1>
        </div>
    </div>

    <form action="/create_movie">
        <div class="row">
            <div class="col-md-1">
                <label for="title">
                    Title
                </label>
            </div>
            <div class="col-md-11">
                <input id="name" type="text" name="the_title" size="75">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="year">
                    Year
                </label>
            </div>

            <div class="col-md-11">    
                <input id="year" type="text" name="the_year" size="75">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="duration">
                    Duration
                </label>
            </div>

            <div class="col-md-11">    
                <input id="duration" type="text" name="the_duration" size="75">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <label for="description">
                    Description
                </label>
            </div>

            <div class="col-md-11">    
                <input id="description" type="text" name="the_description" size="75">
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-1">
                <label for="image url">
                    Image url
                </label>
            </div>
            <div class="col-md-11">
                <input id="image url" type="text" name="the_image_url" size="75">
            </div>
        </div>
    
      <button>
        Create movie
      </button>
    </form>
</div>
